<h1 class="text-success">SEND TO REDIS COMPLETE!</h1>

<h3>DANH SÁCH REDIS KEY ĐÃ SEND VÀO REDIS</h3>
 {{#each data}}
		<input readonly class="col-md-12" type="text" value="{{this}}" />
		<br>

{{/each}}